<ol class="post-list">
    {{!-- This iterates overt the posts array --}}
    {{#each posts as |post|}}
    <li>
        {{!-- here we will import the partial --}}
        {{>post-info post}}
        {{!-- We give it the partial name and the object we pass in --}}

    </li>
    {{/each}} {{!-- Ends the loop --}}
</ol>